.app-p-btn {
  --p-button-primary-color: #fff;
  --p-button-primary-background: var(--color-dark-line);
  --p-button-primary-border-color: var(--color-dark-line);
  --p-button-primary-hover-color: var(--color-dark-line);
}
